<% include ../partials/header %>
<link rel="stylesheet" href="/stylesheets/show.css">
<link rel="stylesheet" href="/stylesheets/starability.css">
<script src="https://use.fontawesome.com/1a5e1fd8e9.js"></script>
    <div class="mainbox">
        <div class="product-box">
            <div class="carousel-box">
                <div class="actual-carousel">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <% for( let index = 0; index <campground.images.length; index++ ) { %>
                                <% if (index==0) { %>
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <% } else{%>
                                    <li data-target="#myCarousel" data-slide-to=<%=index%> ></li>
                                <% } %> 
                            <% } %>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <% for( let index = 0; index <campground.images.length; index++ ) { %>
                                <% if (index==0) { %>
                                    <div class="item active">
                                        <img class="img-fluid" src="data:image/<%=campground.images[index].contentType%>;base64,<%=campground.images[index].data.toString('base64')%>" alt="Los Angeles">
                                    </div>
                                <% } else {%>
                                    <div class="item">
                                        <img class="img-fluid" src="data:image/<%=campground.images[index].contentType%>;base64,<%=campground.images[index].data.toString('base64')%>" alt="Los Angeles">
                                    </div>
                                <% } %> 
                            <% } %>
                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <br>
                <div class="price-details">
                    <div>
                        <span style="font-size: 18px;">Submitted By </span>
                        <span><b><%=campground.author.username%> </b></span>
                    </div><br>
                    <div>
                        <img style="width:40px; height:41px;" src="https://e7.pngegg.com/pngimages/479/698/png-clipart-email-computer-icons-bounce-address-email-miscellaneous-logo.png" alt="">
                &nbsp;<span><%=campground.author.email%> </span>
                    </div><br>
                    <div>
                        <span style="font-size: 18px;">Average Rating </span>
                        <span style="background-color: #52b520;">
                            <span style="padding: 10px;">
                                <span style="color: white;text-align: center;font-size: 15px; font-weight: 700;"><%=campground.avg_rating%></span>
                                <i class="fa fa-star" style="color:gold" aria-hidden="true"></i>
                            </span>
                        </span>
                    </div><br>
                    <div>
                        <span style="font-weight: 400; font-size: 20px;">Price : </span>
                        <span style="color: red; font-weight: 700; font-size: 18px;">₹<%=campground.price%></span>
                        <span style="opacity: 0.8; font-size:small;">per room per night</span>
                    </div><br>
                        <div class="other-options">
                            <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                            <div>
                                <a href="/campgrounds/<%=campground._id %>/edit"><button class="btn btn-warning">Edit</button></a>
                            </div>
                            <div>
                                <form id="delete-form"
                                action="/campgrounds/<%=campground._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                            </div>
                            <% } %>
                            <div><a href="/campgrounds/<%=campground._id%>/book"><button class="btn btn-primary">Book Now</button></a></div>
                        </div>
                </div>
                <br>
                <div class="word-cloud">
                    <div style="font-size: 18px; font-weight: 700;">Review Summary</div><br>
                    <div><button  id="real-cloud" class="btn btn-success">Fetch the Word Cloud</button></div>
                    <div id="cloud" class="real-cloud" style="visibility: hidden;">
                        <img style='height: 100%; width: 100%; object-fit: contain' src="/assets/word-<%=campground._id%>.png" alt="WordCloud">
                    </div>
                </div>
            </div>
            <div class="details-box">
                <h3><b><%=campground.name%> </b></h3>
                <h4><%=campground.location%> </h4>
                <div class="desc">
                    <h3><b>About the Property</b></h3>
                    <%=campground.description%> 
                </div>
                <div class="amn">
                    <h3><b>Amenities</b></h3>
                    <div class="amenities">
                        <div class="amenities-1">
                            <div>
                                <img src="https://www.oyolife.in/static/media/amenities/Wifi.svg" alt="Wi-Fi">
                                <h5 style="font-size: smaller;">Wi-Fi</h5>
                            </div>
                            <div>
                                <img src="https://www.oyolife.in/static/media/amenities/bed_147.svg" alt="Bed">
                                <h5 style="font-size: smaller;">Bed</h5>
                            </div>
                            <div>
                                <img src="https://www.oyolife.in/static/media/amenities/cctv_86.svg" alt="Wi-Fi">
                                <h5 style="font-size: smaller;">CCTV</h5>
                            </div>
                            <div>
                                <img src="https://www.oyolife.in/static/media/amenities/diningarea_34.svg" alt="Wi-Fi">
                                <h5 style="font-size: smaller;">Dining Area</h5>
                            </div>
                            <div>
                                <img src="https://www.oyolife.in/static/media/amenities/fireextinguisher_452.svg" alt="Wi-Fi">
                                <h5 style="font-size: smaller;">Fire Extinguisher</h5>
                            </div>
                            <div>
                                <img src="https://www.oyolife.in/static/media/amenities/induction.svg" alt="Wi-Fi">
                                <h5 style="font-size: smaller;">Induction</h5>
                            </div>
                            <div>
                                <img src="https://www.oyolife.in/static/media/amenities/microwave_151.svg" alt="Wi-Fi">
                                <h5>Microwave</h5>
                            </div>
                            <div>
                                <img src="https://www.oyolife.in/static/media/amenities/geyser_20.svg" alt="Wi-Fi">
                                <h5 style="font-size: smaller;">Geyser</h5>
                            </div>
                            <div>
                                <img src="https://www.oyolife.in/static/media/amenities/lift_17.svg" alt="Bed">
                                <h5 style="font-size: smaller;">Lift</h5>
                            </div>
                            <div>
                                <img src="https://www.oyolife.in/static/media/amenities/powerbackup_38.svg" alt="Wi-Fi">
                                <h5 style="font-size: smaller;">Power Backup</h5>
                            </div>
                            <div>
                                <img src="https://www.oyolife.in/static/media/amenities/refrigerator_150.svg" alt="Wi-Fi">
                                <h5 style="font-size: smaller;">Refrigerator</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Reviews -->
                <div class="reviews">
                    <h3><b>Add Review</b></h3>
                    <form action="/campgrounds/<%=campground._id%>/comments " method="POST">
                        <fieldset class="starability-heart">
                            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="rating" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="rating" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="rating" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="rating" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="rating" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                          </fieldset>
                          <h3><b>Review Text</b></h3>
                        <div><textarea name="comment" cols="70" rows="5" style="border-radius: 5px;"></textarea></div>
                        <button class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="review-box">
            <h3 ><b >Reviews</b></h3> 
            <div class="all-reviews">
                <% campground.comments.forEach(comment => { %>
                    <div class="review-output" id=<%=comment._id%> >
                        <div class="review-ele" style="font-weight: 700;font-size:medium;"><%=comment.author.username%></div>
                        <div class="starability-result" style="padding-left: 15px;" data-rating="<%=comment.rating%>">
                            Rated: <%= comment.rating %> stars
                        </div><br>
                        <div class="review-ele"><%=comment.text%></div>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <div class="other-options">
                                <div>
                                    <a href="/campgrounds/<%=campground._id %>/comments/<%=comment._id %>/edit/?#<%=comment._id%>"><button class="btn btn-warning">Edit</button></a>
                                </div>
                                <div>
                                    <form id="delete-form"
                                    action="/campgrounds/<%=campground._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                                </div>
                            </div>
                        <% } %>
                    </div><br>
                <% }) %>
            </div>
        </div>
    </div>
    <script type="text/javascript">var parsed_data =<%- JSON.stringify(campground._id) %></script>
    <script src="/js/show.js"></script>
    <% include ../partials/footer %> 